body {
  background: #d8e4f4;
  font-family: Arial;
}
header {
  background-image: url(../image/3.jpg);
  background-size: cover;
  height: 150px; /* Điều chỉnh chiều cao phù hợp */
}
@media screen and (max-width: 300px) {
  .menu a {
    float: none;
    width: 100%;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}
nav a{
  float: right; 
  color: blue;
}

.logo img {
  float: right;
  right: 100px; 
  width: 140px;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 50px;
}

.menu li a {
  color: blue;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.container {
  background-image: url(../image/hinhnen1.jpg);
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px #c06161;
  border-style: solid rgb(12, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#slideshow-image {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#slideshow-controls {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  justify-content: center;
}

button {
  border-radius: 60%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #858383;
  color: #333;
  border: none;
  cursor: pointer;
}

.prev {
  margin-right: 220px;
  transform: translate(0px, -175px);
}

.prev:hover {
  background-color: yellow;
}

.next {
  margin-left: 220px;
  transform: translate(0px, -175px);
}

.next:hover {
  background-color: yellow;
}

#image-position {
  color: rgba(254, 0, 0, 0.69);
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  font-weight: 900;
}

h1 {
  font-weight: 900;
  text-align: center;
}
